*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: bisque;*/
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #101116;
}
.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.navegacion-contenedor{
    height: 80px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.img-logo{
    height: 80px;
    width: 80px;
}  
.navegacion{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around
}
/* ------------------------------------NAVEGACION LISTA-------------------------------------- */
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    text-decoration: none;
}
nav ul li a {
    font-size: 18px;
    color: white;
    padding: 20px;

}
a:link, a:visited, a:active {
    text-decoration:none;
}
nav ul li a:hover{
    color: lightcoral;
}
/* ------------------------------------INICIO-------------------------------------- */
.contenido-principal{
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: space-evenly;
}
.span{
    width: 50%;
}
.span h1{
    color: tomato;
    font-weight: 600px;
    font-size: 60px;
}
.span p{
    color: white;
}
/* ----------------------------------------QUIENES SOMOS---------------------------------- */    
/*.quienes-somos{
    height: 800px;
    background-color: #101116;
    display: flex;
}
.texto{
    width: 40%;
}*/

/* ------------------------------------CONTACTO-------------------------------------- */
.contacto{
    color: white;
    background-color: #101116;
    color: white;
    padding: 50px 0;
}
.contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}
.fila{
    display: flex;
}
.col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: white;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: lightcoral;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
    
}
/* -----------------------------------FOOTER--------------------------------------- */
.footer{
    height: 80px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.redes{
    display: flex;
    margin-bottom: 20px;
}
.redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    border: 1px solid #fff;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.redes a:hover{
    background-color: lightcoral;
}